.pleasure-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.pleasure-calories {
  margin: 0;
  color: white;
}

.action {
  margin: 0 10px;
  color: #4CAF50;
}

.action-row {
  padding: 0 20px;
  border-width: 0 0 1px 0;
  -moz-border-image: -moz-linear-gradient(to right, #FFFFFF 0%, #999999 50%, #FFFFFF 100%);
  -webkit-border-image: -webkit-linear-gradient(to right, #FFFFFF 0%, #999999 50%, #FFFFFF 100%);
  border-image: linear-gradient(to right, #FFFFFF 0%, #999999 50%, #FFFFFF 100%);
  border-image-slice: 1;
}
