decorator==4.0.4
ipdb==0.8.1
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
mistune==0.5.1
packaging==15.3
path.py==7.6
pbr==1.8.1
pexpect==3.3
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
pyxdg==0.25
pyzmq==14.7.0
ranger==1.7.2
simplegeneric==0.8.1
six==1.10.0
stevedore==1.8.0
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
