<div ng-controller="PostsController as postsCtrl" layout="column" layout-align="start center">

  <img class="full" src="assets/images/img_graph.png" alt="Graph" />

  <div class="full">
    <md-card>
      <img src="assets/images/img_meme1.png" class="md-card-image" alt="Bike Ride">
      <md-card-content>
        <div layout layout-align="space-between center">
          <div layout>
            <img class="scorecard-profile" src="assets/images/profile.jpg" alt="Evgeny" />
            <div layout="column" layout-align="center start">
              <h2 class="scorecard-title md-title">Bike Ride</h2>
              <p class="scorecard-description">Burning off chocolate in style</p>
            </div>
          </div>
          <md-button class="md-icon-button" ng-click="ctrl.share($event)" aria-label="Share">
            <md-icon md-svg-icon="social:share"></md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <br/>
    <md-card>
      <img ng-src="assets/images/img_meme2.png" class="md-card-image" alt="5km Run">
      <md-card-content>
        <div layout layout-align="space-between center">
          <div layout>
            <img class="scorecard-profile" src="assets/images/profile.jpg" alt="Evgeny" />
            <div layout="column" layout-align="center start">
              <h2 class="scorecard-title md-title">5 km Run</h2>
              <p class="scorecard-description">I came, I ate, I ran</p>
            </div>
          </div>
          <md-button class="md-icon-button" ng-click="ctrl.share($event)" aria-label="Share">
            <md-icon md-svg-icon="social:share"></md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>

</div>
