<div ng-controller="PostController as postCtrl" layout="column" layout-align="start start">

  <!-- Chosen Pleasures -->
  <div class="full">
    <md-grid-list
        md-cols="1" md-cols-gt-sm="2" md-cols-gt-lg="3"
        md-row-height="2:1"
        md-gutter="2px">
      <md-grid-tile
          class="dessert"
          ng-repeat="dessert in ctrl.chosenPleasures"
          ng-style="{ 'background-image': 'url(' + dessert.url + ')' }">
        <div layout="column" layout-align="end end" class="pleasure-overlay" ng-if="dessert.count > 1">
          <h1 class="pleasure-calories md-display-1">×{{ dessert.count }}</h1>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>


  <div class="full" layout="column" layout-align="start center">

    <!-- Walk -->
    <div class="full action-row" layout layout-align="space-between center" ng-click="ctrl.goToMap()">
      <h3 class="md-title">Walk</h3>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="maps:navigation"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.walking.distance }}</h3>
      </div>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="image:timelapse"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.walking.time }}</h3>
      </div>
        <md-icon class="action" md-svg-icon="maps:directions_walk"></md-icon>
    </div>

    <!-- Run -->
    <div class="full action-row" layout layout-align="space-between center" ng-click="ctrl.goToMap()">
      <h3 class="md-title">Run</h3>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="maps:navigation"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.running.distance }}</h3>
      </div>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="image:timelapse"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.running.time }}</h3>
      </div>
        <md-icon class="action" md-svg-icon="maps:directions_run"></md-icon>
    </div>

    <!-- Bike -->
    <div class="full action-row" layout layout-align="space-between center" ng-click="ctrl.goToMap()">
      <h3 class="md-title">Bike</h3>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="maps:navigation"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.cycling.distance }}</h3>
      </div>
      <div layout layout-align="start center">
        <md-icon class="distance-time-icon" md-svg-icon="image:timelapse"></md-icon>
        <h3 class="md-subhead">{{ ctrl.activities.cycling.time }}</h3>
      </div>
        <md-icon class="action" md-svg-icon="maps:directions_bike"></md-icon>
    </div>

  </div>

</div>
