<div ng-controller="PostController as postCtrl" layout="column" layout-align="start start">

  <!-- Chosen Pleasures -->
  <div class="full">
    <md-grid-list
        md-cols="1" md-cols-gt-sm="2" md-cols-gt-lg="3"
        md-row-height="2:1"
        md-gutter="10px">
      <md-grid-tile
          ng-repeat="dessert in ctrl.chosenPleasures"
          ng-style="{ 'background-image': 'url(' + dessert.imgSrc + ')' }">
        <div layout="column" layout-align="center center" class="pleasure-overlay">
          <h1 class="pleasure-calories md-display-3">{{ dessert.count }}</h1>
          <h3 class="pleasure-calories md-headline">Calories</h3>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>


  <div class="full" layout="column" layout-align="start center">

    <!-- Walk -->
    <div class="full action-row" layout layout-align="space-between center">
      <h3 class="md-subhead">Walk</h3>
      <div layout layout-align="start center">
        <h3 class="md-subhead">25km</h3>
        <md-icon class="action" md-svg-icon="maps:directions_walk"></md-icon>
      </div>
    </div>

    <!-- Run -->
    <div class="full action-row" layout layout-align="space-between center">
      <h3 class="md-subhead">Run</h3>
      <div layout layout-align="start center">
        <h3 class="md-subhead">8km</h3>
        <md-icon class="action" md-svg-icon="maps:directions_run"></md-icon>
      </div>
    </div>

    <!-- Bike -->
    <div class="full action-row" layout layout-align="space-between center">
      <h3 class="md-subhead">Bike</h3>
      <div layout layout-align="start center">
        <h3 class="md-subhead">12km</h3>
        <md-icon class="action" md-svg-icon="maps:directions_bike"></md-icon>
      </div>
    </div>

  </div>

</div>
