<iframe id="mapmyfitness_route" src="http://snippets.mapmycdn.com/routes/view/embedded/{{ route.id }}?width=600&height=400&&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=0&unit_type=imperial&map_mode=ROADMAP&last_updated=2015-10-10T21:19:39-07:00" height="400px" width="100%" frameborder="0"></iframe><div style="text-align: right; padding-right: 20px;">
    <a target="_blank" href="http://www.mapmywalk.com/routes/create/">Create Routes</a>
    or <a href="http://www.mapmywalk.com/routes/">Search for a route</a>
    from millions at <a href="http://www.mapmywalk.com">MapMyWalk</a>
</div>
